[submodule "web-server-load-tester"]
	path = web-server-load-tester
	url = git@github.com:tmori/web-server-load-tester.git
[submodule "mattermost-initializer"]
	path = mattermost-initializer
	url = git@github.com:tmori/mattermost-initializer.git
